.menubar{
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 15%;
  align-items: right;

}

.home{
  /*margin-left: 28px;
  margin-right:28px;*/
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 33px;
/* identical to box height */
/*color: #AFAFAF;*/
  color: #88AED3
}
.homebar{

left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
margin-left: 10%;
margin-right: 5%;
text-decoration: none;
font-family: 'Ubuntu';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 33px;
/* identical to box height */
color: #C0D6EB;
}
body{
  background: #F7F4F4;
}
.main{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.experience{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;


}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 50px;
/* identical to box height, or 139% */

display: flex;
align-items: center;
letter-spacing: 0.095em;

color: #88AED3;

}
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 50px;
width: 60%;
border-bottom: 5px dotted #C0D6EB;
box-sizing: border-box;
padding-bottom: 20px;
}
